{% extends "index.html" %}

{% block title %}{{ section.title }} &middot; {{ config.title }}{% endblock title %}
{% block description %}{{ section.description | default(value=config.description) }}{% endblock description %}

{% block ogtitle %}{{ section.title }}{% endblock ogtitle %}
{% block ogdesc %}{{ section.description }}{% endblock ogdesc %}
{% block ogurl %}{{ section.permalink | safe }}{% endblock ogurl%}
{% block ogimage -%}
  {%- if section.extra.image -%}{{ get_url(path=section.extra.image) | safe }}
  {%- elif config.extra.ogimage -%}{{ get_url(path=config.extra.ogimage) | safe }}
  {%- endif -%}
{%- endblock ogimage %}

{% block content %}
<article>
  <h1>{{ section.title }}</h1>

  {{ section.content | safe }}
</article>

<ul class="homepage-list">
  {% for page in section.pages %}
    <li>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock content %}
